.command h2 {
  background-color: #f97300;
  width: max-content;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 1em;
  color: #f3f3f3;
}

.command {
  padding-left: 1vh;
  display: flex;
  flex-direction: column;
}
.command article {
  box-shadow: 0px 0px 7px #8c8c8c;
  border-radius: 1em;

  padding: 0%;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}
.command article header {
  display: flex;
  justify-content: left;
  height: 2em;
  align-items: center;
  border-radius: 1em 1em 0% 0%;
  color: #f3f3f3;
}
.command header h4 {
  border-radius: 1em 1em 0 0;
  box-shadow: 0px 0px 7px #8c8c8c;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #8c8c8c;
}
.command article .list {
  border-bottom: 2px solid #8c8c8c;
  border-top: #8c8c8c 2px solid;
  z-index: 0;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 200px;
  /*background-color: #8C8C8C;*/
}
.command article .list > p {
  height: 20px;
  border-bottom: 2px solid #8c8c8c;
  padding-bottom: 0.5em;
}
.command article .list > p:last-child {
  border-bottom: none;
}
.command article .total {
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
  z-index: 0;
  background-color: #f3f3f3;
  border-radius: 0% 0 1em 1em;
}
