#right > header {
  max-height: 5vh;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5;
  margin-left: 3em;
  margin-right: 2em;
}
#right > header h2 {
  font-size: 1.2em;
  padding-top: 0;
  margin-top: 0.2em;
}
#presentation {
  color: #f97300;
  text-align: left;
  margin-right: 2em;
}
#presentation h1 {
  font-size: 1em;
}
#right #body {
  padding-left: 20px;
}
#right #cat nav {
  justify-content: flex-start;
  display: flex;
  overflow: scroll;
}
#right #cat nav a {
  text-decoration: none;
}
#right #cat nav .element {
  margin: 1em;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 5em;
  height: 6em;
  padding: 0.5em;
  color: #f3f3f3;
  border-radius: 1em;
  flex: 1;
  background-color: rgb(249, 115, 0);
}

.marche article {
  justify-content: start;
  min-height: 200px;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  flex-direction: row;
}
.marche {
  display: flex;
  flex-direction: column;
}

.marche .achat,
.rupture {
  padding: 0;
  margin: 0.2vw;
  display: flex;
  min-width: 300px;
  min-height: 300px;
  flex-direction: column;
  overflow: auto;
  background-image: url(../images/BOF.jpg);
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.marche .achat .nom {
  font-size: 1.3em;
  background: rgba(0, 0, 0, 0.5);
  color: #f3f3f3;
  display: flex;
  
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 2em;
}
.marche .rupture .nom {
  font-size: 1.3em;
  background: rgba(249, 115, 0, 0.5);
  color: #f3f3f3;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  min-height: 2em;
}
.marche .info {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  background: rgba(0, 0, 0, 0.7);
  color: #f3f3f3;
  width: 100%;
}
.marche .info .prix{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.marche .rupture .info {
  background: rgba(249, 115, 0, 0.8);
}

.marche .rupture {
  background-color: tomato;
}
.marche .achat div {
  flex-wrap: wrap;
}
.marche .number {
  width: 4em;
}
.marche .submit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
