body{
    font-family:"sf-pro",sans-serif ;
    margin: 0;
    background-color: rgb(114, 90, 128);
    color: #888;
    display: flex;
}
#left{
    flex:1;
    background-color: blue;
}
#right{
    flex:4;
    background-color: red;
}