

@font-face {
    font-family: "sf-pro";
    src: url(/style/SF-Pro.ttf);
}
a:visited{
    color: #8C8C8C;
}
body{
    font-family:"sf-pro",sans-serif ;
    margin: 0;
    background-color: rgb(114, 90, 128);
    color: #8C8C8C;
    display: flex;
    overflow: auto;
}

    #down{
        display: flex;
        flex-direction: row;
        height:100vh;
    }
    #left{
        flex:1;
        background-color: #F3F3F3;

    }     

        #left nav{

            display: flex;
            flex-direction: column;
            text-align: left;
            flex: auto;
            align-items: center;
        }
            #left #date{
                padding-top: 00.3em;
                padding-left: 1em;
                width:80%;
                text-align: left;
                margin-bottom: 2em;
                font-weight: bold;
            }
            #left nav a{  
                display: flex;
                flex:auto;
                text-align: center;
                color: #8C8C8C;;
                text-decoration: none;            
            }
            #left section{
                
                display: flex;
                flex-direction: column;
                flex:1;
                width: 80%;
                justify-content: center;
            }
            #left nav section a:hover{
                background: rgba(249,115,0,0.5);
                border-radius: 10px;
                color:#000000;
            }
            #left nav section div{
                width: 80%;
                padding: 1em;
                display: flex;
                font-size: 1.3em;
                flex:auto;
                flex-direction: column;
                justify-content: center;
                text-align: left;
            }
            #left nav section .in{
                background-color: #f97300 ;  
                border-radius: 10px;
                color:#F3F3F3;
            }

    #right{
        height: 100vh;
        display: flex;
        flex:5;
        background-color: #F3F3F3;
        flex-direction: column;
        overflow: auto;
        /*box-shadow: inset 5px 0px 3px #8C8C8C;*/
    }
     #right > header{
        max-height: 5vh;
        display: flex;
        justify-content: space-between;
        margin-top: 0.5;
        margin-left: 3em;
        margin-right: 2em;
    }
       #right > header h2{
            font-size: 1.2em;
            padding-top: 0;
            margin-top: 0.2em;
        }
        #presentation{
        color: #f97300;
        text-align: left;
        margin-right: 2em;
        }
        #presentation h1
        {
        font-size: 1em;
        }
        #right #cat nav{
            justify-content: flex-start;
            display: flex;
            overflow: scroll;
        }
        #right #cat nav a{
            text-decoration: none;
        }
        #right #cat nav .element{
            margin: 1em;
            display: flex;
            align-items: end;
            justify-content: center;
            width: 5em;
            height:6em;
            padding:0.5em;
            color:#F3F3F3;
            border-radius: 1em;
            flex:1;
            background-color: rgb(249, 115, 0);
        }

        article{ 
            justify-content: start;
            min-height:30vh ;
            display: flex;
            overflow:auto;
            flex-wrap: wrap;
            flex-direction: row;
        }
        .marche{
            display: flex;
            flex-direction: column;
        }

        .marche .achat ,.rupture {
            padding:0;
            margin:0.2vw;
            display: flex;
            width: 16vw;
            min-width: 15vw;
            height: 15vw;
            flex-direction: column;
            overflow: auto;
            background-image:url(../images/BOF.jpg);
            background-size: cover;
            justify-content:space-between;
            align-items: center;
            border-radius: 10px;
        }
        .marche .achat .nom{
            font-size: 2em;
            background: rgba(0,0,0,0.5);
            color: #F3F3F3;
            width: 100%;
            text-align: center;

        }
        .marche .rupture .nom{
            font-size: 2em;
            background: rgba(249, 115, 0, 0.5);
            color: #F3F3F3;
            width: 100%;
            text-align: center;

        }
        .marche .info{
            background: rgba(0,0,0,0.7);
            width:100%;
            height: 30%;
            color: #F3F3F3; 
        }
        .marche .rupture .info{
            background: rgba(249, 115, 0, 0.8);

        }
        @media only screen and (max-width: 900px){
            .marche .achat,.rupture{
                width: 35vw;
                height:35vw;
            }
        }
        .marche .rupture{
            background-color: tomato;
        }
        .marche .achat div{
            flex-wrap: wrap;

        }
        .number{
            max-width: 50%;
        }
        .submit{
            max-width: 90%;
        }
        .imgproduct{
            height: 10vh;
            width: auto;
        }

/* page panier/cart */
#right section{
    min-height:90vh;
    padding-top:5vh;
    margin:0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-around;
}
    #right .cart{
        min-height: 90%;
        overflow:visible;
        color:#000000;
        width: 70%;
        display: flex;
        background-color: #8C8C8C;
        flex-direction: column;
        justify-content:start;
        border-radius:1em;
        box-shadow: 0px 0px 7px #8C8C8C;
        
    }
    #right .cart h2{
        text-align: right;
        margin-right: 1vw;

    }
    #right .cart header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #right .cart header p{
        text-align: left;
        flex:1;
        margin-left: 1vw;
    }
    #right .cart .produits{
        background-color: #F3F3F3;
        min-height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    #right .cart form{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        border-bottom: 0.3vh solid #8C8C8C;
    }
    #right .cart form *{
        flex:1;
        margin-left: 1vw;
    }
    #right .cart form input{
        flex:1;
    }
    #right footer{
        min-height: 4vh;
    }
    #right .paiement{
        width: 17%;
        height:40%;
        max-height:90%;
        border-radius:1em;
        box-shadow: 0px 0px 7px #8C8C8C;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 3em;
        padding-right: 3em;
    }
    #right .paiement #csv{
        width:3em;
    }
    .paiement > p{

        flex:2;
    }
    .paiement .info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        flex:2;
    }
    .paiement h4{
        text-align: center;
    }
    .paiement .input_botom{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    .paiement .checkout{
        background-color: #f97300;
        box-shadow: 0px 0px 7px ;
        border-radius:10px;
        border: none;
        width: 80%;
        margin-top: 0.5em;
        margin-bottom:0.5em;
        padding: 0.5em,0.5em;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        font-size: 1.5em;
    }
    .paiement .prix_total{
        text-align: left;
    }
