

.tableau
{
    margin-left: 2vh;
    margin-right: 5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #000;
    align-items: stretch;
}
.tete_tableau, .corps_tableau{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.element_tete, .element_tableau, .element_achat {
    flex: 1;
    border-left: 1px solid black;
    border-top: 1px solid black;
    text-align: left;
    align-items: center;
    padding: 0.7vh;
}
.element_achat{
    text-align: center;
}

.element_tete{
    padding-bottom: 1vh;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #666;
}
a:visited{
    color: #666;


}
body{
    margin: 0;
    background-color: rgb(114, 90, 128);
    overflow: auto;
    color: #888;
}
    #left{
        flex: 1;
        background: rgb(36, 36, 36);
         }
        #tete
        {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10%;
            overflow: auto;
            text-align: left;



        }
            #photoID{

                margin-left: 2em;
                float: left;
            }
            #presentation{
                text-align: right;
                margin-right: 2em;
            }
            #presentation h1
            {
                font-size: 1.6em;
                margin-bottom: 0.1em;
                padding-bottom: 0em;
            }
            #presentation h2{
                font-size: 1.1em;
                margin-top: 0em;
                padding-top: 0em;
            }
        #menu{
            display: flex;
            flex-direction: column;
            text-align: left;
         }
            #menu a{
                color: rgb(211, 211, 211);
                text-decoration: none;            
            }

            #menu .element,h2{
                padding-top: 7%;
                padding-bottom: 7%;
                padding-right: 10%;
                padding-left:10%; 
                font-size: 1.6em;
                display: flex;
                justify-content: space-between;
            }
            #menu .element:hover{
                background-color: black;
            }
            #nav_int:last-child{
                border-bottom: 1px solid white;
            }
        .icon{
            width: 1em;
            height: 1em;
            text-align: left ;

        }

        #pied{
            display:flex;
            flex-direction: row;
            justify-content: space-between;

        }





    #right{
        flex:4;
        background: gainsboro;
        overflow: auto;
    }
        #corps_texte{
            display: flex;
            height:100vh;
        }

article{
    min-height:80vh ;
    display: flex;
    flex-direction: column;


}
/*article d'acceuil*/
    #intro
    {
      height: 85vh;
      background-image: url();
      background-image: linear-gradient(to bottom, rgba(255,128,255,0.5), rgba(0,0,128,0.5)), url("../images/bg2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      /*background-image: url(../images/pic07.jpg)*/ ;
      /*color: white;*/
      text-align: center;
      color: #fff;
      align-items: center;
      justify-content: center;

    }
    #intro h2
    {
        width: 50%;
        font-size: 3em;
        margin-bottom: 0%;
        font-weight: normal;
    }
    #intro h3{
        width:50%;
        margin-bottom: 4vh;
        font-weight: normal;

    }
    .button{
        padding-top: 10%;
        width: 25vh;
        max-height: 50%;
        background-color:#8ebebc;;
        border-radius: 11px;
    }
    #test{

        max-height: 10%;
    }
    #test a{
        font-size: 1.1em;
    }
    /* page de projet/portfolio */
    #projets
    {
        display: flex;
        color: #000;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .portfolio{
        display: flex;
        margin-bottom: 20vh;
    }
    .imgpj{
        width: 30vh;
        height: auto;
     }
    figcaption{
        text-align: center;
        padding: 1em 0 1em 0;
        font-size: 0.8em;
        background-color: #fff;
       border:black solid 1px;
       border-radius: 5px;
    }
